/*Base layer rules*/
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#canvas {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3vw;
}

p {
  font-size: 1.5vw;
}

/*Button rules*/
button {
  font-size: 1.5vw;
}

.btn {
  color: white;
  background-color: rgb(71, 0, 163);
  border-radius: 5px;
  border-width: 0;
  min-height: 30px;
  width: 300px;
  text-align: left;
  margin: 5px;
}

.routing-button {
  max-width: 40%;
}

#buttons-div {
  display: flex;
}

#start-button {
  min-width: 30%;
  width: 30%;
  margin: 0px;
  margin: 0 35% 0 35%;
  text-align: center;
}

/*Button state rules*/
button:hover {
  background-color: rebeccapurple;
}

button:active {
  background-color: rgb(50, 13, 136);
}

/*Question rule*/
#question {
  text-align: left;
}

/*Answers rules*/
#answers {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 300px;
}

#answer-button {
  flex-wrap: wrap;
  width: 100%;
}

/*High score board routing rules*/
#high-scores-button-div {
  margin: 10px;
}

#view-high-scores {
  color: violet;
  background-color: white;
  border: none;
}

#view-high-scores:hover {
  color: rgb(231, 152, 231);
}

#view-high-scores:active {
  color: rgb(194, 74, 194);
}

/*Feedback rules*/
#feedback {
  padding-top: 20px;
  border-top: 1px solid lightgray;
}

/*Center div rules*/
.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-div {
  height: 100%;
  flex: 6;
  margin: 100px 20px 0 20px;
}

/*Initials input rules*/
#initials-div {
  display: flex;
  align-items: center;
}

#initials-input {
  height: 15px;
}

/*Filler divs rules*/
.filler-div {
  flex: 1;
  min-width: 20%;
}

/*Result rules*/
.title {
  text-align: center;
}

.paragraph {
  text-align: center;
}

/*Scoreboard rules*/
.score-title {
  width: 100%;
  justify-content: left;
}

.score-paragraph-div {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(87, 15, 87, 0.473);
}

.score-paragraph {
  height: 30px;
  margin: 10px 0 0 0;
  justify-content: left;
  align-items: center;
}
